@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');

/* @font-face {
  font-family: 'Roboto';
  src: local('Roboto'), url('./fonts/Poppins,Roboto.ttf') format('truetype');
} */

body {
  margin: 0;
  background-color: #000;
  font-family: 'Josefin Sans', sans-serif;
}
html {
  scroll-behavior: smooth;
}
.smooth-scroll a {
  scroll-behavior: smooth;
}

/* code {
  font-family: 'Bungee Inline', cursive;
} */
